* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Monserrat", sans-serif;
}

::-moz-selection {
  background-color: #ff74b1;
}

::selection {
  background-color: #ff74b1;
}

header {
  background-color: #3b7a90;
  width: 100%;
}

.main-color {
  background-color: #03242a;
  width: 100%;
}

footer {
  background-color: #ff74b1;
  width: 100%;
}

.container-trabajo {
  background-color: #03242a;
  width: 100%;
}

h1 {
  font-size: 35px;
  color: #ffffff;
  padding: 10px;
}

h2 {
  font-size: 25px;
  color: #ffffff;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.navbar-brand img {
  height: 80px;
}

.nav-link {
  font-size: 22px;
  color: #ffffff;
}

.botons-main,
.boton-trabajo,
.boton-habilidades,
.boton-nosotros,
.boton-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-main-1 button,
.boton-trabajo button,
.boton-habilidades button,
.boton-nosotros button,
.boton-contacto button {
  background-color: #3b7a90;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 6px;
}
.boton-main-1 button:hover,
.boton-trabajo button:hover,
.boton-habilidades button:hover,
.boton-nosotros button:hover,
.boton-contacto button:hover {
  background-color: rgb(18, 70, 90);
}

.container-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item-nosotros imagen-nosotros" "boton-volver -";
}

.item-nosotros {
  grid-area: item-nosotros;
  margin-left: 30px;
  margin-top: 20px;
}
.item-nosotros h1 {
  text-align: center;
}

.imagen-nosotros {
  grid-area: imagen-nosotros;
  margin-left: 20px;
  margin-top: 30px;
}
.imagen-nosotros img {
  width: 80%;
}

.titulo-skills {
  text-align: center;
}

.container-skills {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen-skills1 imagen-skills2" "texto-skills1 texto-skills2" "boton-habilidades boton-habilidades";
}

.imagen-skills1 {
  grid-area: imagen-skills1;
}
.imagen-skills1 img {
  width: 450px;
}

.imagen-skills2 {
  grid-area: imagen-skills2;
}
.imagen-skills2 img {
  width: 450px;
}

.texto-skills1 {
  grid-area: texto-skills1;
}

.texto-skills2 {
  grid-area: texto-skills2;
}

.color-texto-skills li {
  color: #ffffff;
}

.boton-habilidades {
  grid-area: boton-habilidades;
  text-align: center;
}

.div-text {
  text-align: center;
}
.div-text h2 {
  padding-inline: 120px;
}

.acordeon-color {
  background-color: #3b7a90;
}

.accordion-body {
  color: #ffffff;
}

.text-color {
  color: #ffffff;
}

.container-footer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.left {
  grid-area: left;
  text-align: center;
}

.right {
  align-items: center;
  grid-area: right;
}

.right ul {
  display: flex;
  justify-content: space-around;
  text-align: end;
  list-style: none;
  gap: 10px;
}
.right ul li {
  padding: 10px;
}
.right ul img {
  width: 40px;
}

.main-video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-video iframe {
  width: 500px;
  height: 500px;
}

.container-videos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.card-videos {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .main-video {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .main-video .video__1 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .container-skills {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "imagen-skills1" "texto-skills1" "imagen-skills2" "texto-skills2";
  }
  .imagen-skills1 {
    grid-area: imagen-skills1;
    margin-top: 1em;
  }
  .imagen-skills2 {
    grid-area: imagen-skills2;
    margin-top: 1em;
  }
  .texto-skills1 {
    grid-area: texto-skills1;
    margin-top: 1em;
  }
  .texto-skills2 {
    grid-area: texto-skills2;
    margin-top: 1em;
  }
  .boton-habilidades {
    padding-bottom: 15px;
  }
  .container-nosotros {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .container-nosotros .item-nosotros,
  .container-nosotros .imagen-nosotros {
    margin-inline: 10px;
    margin-top: 10px;
    padding-inline: 15px;
  }
  .container-nosotros .boton-nosotros {
    margin-bottom: 15px;
  }
  .container-videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .boton-trabajo button {
    margin-bottom: 15px;
  }
  .card-videos {
    text-align: center;
  }
  .main-video {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .main-video .video__1 {
    margin-bottom: 10px;
  }
  .botons-main {
    margin-bottom: 15px;
  }
}
.container-footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "left" "right";
}

.left {
  grid-area: left;
  text-align: center;
  padding-top: 20px;
}

.left p {
  margin-bottom: 0;
}

.right {
  align-items: center;
  grid-area: right;
}

.right ul li {
  padding: 10px;
}

.right ul {
  padding: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  .container-skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "imagen-skills1" "imagen-skills2" "texto-skills1" "textoskills2";
  }
  .imagen-skills1 {
    grid-area: imagen-skills1;
  }
  .imagen-skills1 img {
    width: 380px;
  }
  .imagen-skills2 {
    grid-area: imagen-skills2;
  }
  .imagen-skills2 img {
    width: 380px;
  }
  .texto-skills1 {
    grid-area: texto-skills1;
  }
  .texto-skills2 {
    grid-area: texto-skills2;
  }
  .boton-volver-skills {
    padding-bottom: 10px;
  }
  .container-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left" "right";
  }
  .left {
    grid-area: left;
    text-align: center;
  }
  .right {
    align-items: center;
    grid-area: right;
  }
  .right ul li {
    padding: 10px;
  }
  .main-video iframe {
    width: 350px;
    height: 350px;
  }
  .div-text h2 {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */