* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-family: "Monserrat", sans-serif;
}

header {
  background-color: #3b7a90;
  width: 100%;
}
main {
  background-color: #03242a;
  width: 100%;
  height: 100vh;
}
footer {
  background-color: #ff74b1;
  width: 100%;
}
h1 {
  font-size: 40px;
  color: #ffffff;
  padding: 10px;
}
h2 {
  font-size: 28px;
  color: #ffffff;
  padding: 10px;
}
h3 {
  font-size: 24px;
  color: #ffffff;
}
p {
  color: #ffffff;
}
/* NAVBAR NAVBAR NAVBAR */
.navbar-brand img {
  height: 60px;
}

.navbar {
  background-color: #3b7a90;
}
.nav-link {
  font-size: 22px;
  color: #ffffff;
}

/* ACORDEON */

.acordeon-color {
  background-color: #3b7a90;
}
.accordion-body {
  color: #ffffff;
}
.text-color {
  color: #ffffff;
}
/* HEADER HEADER HEADER  */

/* PAGINA NOSOTROS */
.container-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "item-nosotros imagen-nosotros"
    "boton-volver -";
}
.item-nosotros {
  grid-area: item-nosotros;
  margin-left: 30px;
  margin-top: 20px;
}
.boton-volver {
  padding: 20px;
  padding-top: 30px;
  grid-area: boton-volver;
}
.imagen-nosotros {
  grid-area: imagen-nosotros;
  margin-left: 20px;
  margin-top: 30px;
}
.imagen-nosotros img {
  width: 80%;
}
.item-nosotros h1 {
  text-align: start;
}
.main-nosotros {
  background-color: #03242a;
}
/* FIN PAGINA NOSOTROS */

/* PAGINA HABILIDADES */
.container-skills {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "imagen-skills1 imagen-skills2"
    "texto-skills1 texto-skills2"
    "boton-volver-skills boton-volver-skills";
}

.imagen-skills1 {
  grid-area: imagen-skills1;
}
.imagen-skills2 {
  grid-area: imagen-skills2;
}
.texto-skills1 {
  grid-area: texto-skills1;
}
.texto-skills2 {
  grid-area: texto-skills2;
}
.color-texto-skills li {
  color: #ffffff;
}

.titulo-skills {
  text-align: center;
}
.boton-volver-skills {
  grid-area: boton-volver-skills;
  text-align: center;
}
.main-habilidades {
  background-color: #03242a;
}

/* FIN PAGINA HABILIDADES */

/* INICIO VIDEOS TRABAJO */

.card-video {
  background-color: #03242a;
  border-color: #fcffff;
  color: #f5f5f5;
}
.card-footer p {
  color: #ffffff;
  text-align: center;
}

.just-edit-footer {
  font-size: 20px;
  color: #ffffff;
}
.parrafo-nosotros {
  color: #ffffff;
}
.boton-volver-nosotros {
  text-align: center;
}

.habilidades-apps {
  font-size: 16px;
  color: #821a48;
  padding: 10px;
}
.buttom-varios {
  font-size: 16px;
  text-align: center;
  color: #821a48;
  text-decoration: none;
}
.buttom-varios button {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.bottom-work {
  font-size: 16px;
  color: #821a48;
  padding: 10px;
  text-decoration: none;
}
.div-footer {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}
.left {
  text-align: start;
}
.right ul {
  background-color: #ff74b1;
  display: flex;
  justify-content: space-evenly;
  text-align: end;
  list-style: none;
}
.right ul li img {
  width: 40px;
}

/* MAINNNNNNNNNNNNN */

.div-text {
  background-color: rgb(255, 208, 246);
  text-align: center;
}

/* INICIO MEDIA PARA MOVILES */
@media screen and (max-width: 425px) {
  .container-skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "imagen-skills1"
      "imagen-skills2"
      "texto-skills1"
      "textoskills2"
      "boton-volver-skills";
  }
  .imagen-skills1 {
    grid-area: imagen-skills1;
  }
  .imagen-skills2 {
    grid-area: imagen-skills2;
  }
  .texto-skills1 {
    grid-area: texto-skills1;
  }
  .texto-skills2 {
    grid-area: texto-skills2;
  }
  .boton-volver-skills {
    grid-area: boton-volver-skills;
  }
}
.div-footer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "left"
    "right";
}
.left {
  grid-area: left;
  text-align: center;
}
.right {
  align-items: center;
  grid-area: right;
}
.right ul li {
  padding: 10px;
}

/* INICIO MEDIA PARA TABLETS */

@media screen and (max-width: 768px) {
  .container-skills {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "imagen-skills1"
      "texto-skills1"
      "imagen-skills2"
      "texto-skills2"
      "boton-volver-skills";
  }
  .imagen-skills1 {
    grid-area: imagen-skills1;
    margin-top: 1em;
  }
  .imagen-skills2 {
    grid-area: imagen-skills2;
    margin-top: 1em;
  }
  .texto-skills1 {
    grid-area: texto-skills1;
    margin-top: 1em;
  }
  .texto-skills2 {
    grid-area: texto-skills2;
    margin-top: 1em;
  }
  .boton-volver-skills {
    grid-area: boton-volver-skills;
  }
  .container-nosotros {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "imagen-nosotros"
      "item-nosotros "
      "boton-volver-nosotros";
  }
  .boton-volver-nosotros {
    text-align: center;
    grid-area: boton-volver-nosotros;
  }
  .imagen-nosotros {
    text-align: center;
    margin-left: 0;
  }
  .item-nosotros {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .item-nosotros h1 {
    text-align: center;
  }
}
